@model VacTrac.Models.WeeklyCounts

@{
    ViewData["Title"] = "Add Weekly Count";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<int, string> Vaccines = (Dictionary<int, string>)ViewData["Vaccines"];
}

<h1>Add Weekly Count</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateWeeklyCount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VaccinesID" class="control-label"></label>
                @Html.DropDownListFor(m => m.VaccinesID, // Store selected value in Model.VaccinesID

                      // This argument needs some explanation - here we take a Distionary<string, string>
                      // and turn it into an instance of SelectList, see blog post for more details
                      new SelectList(Vaccines, "Key", "Value"),

                      // Text for the first 'default' option
                      "- Please select your vaccine -",

                      // A class name to put on the "<select>"
                      new { @class = "form-control" }
                      )
                <span asp-validation-for="VaccinesID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input  asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccuVaxCount" class="control-label"></label>
                <input asp-for="AccuVaxCount" class="form-control" />
                <span asp-validation-for="AccuVaxCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FridgeCount" class="control-label"></label>
                <input asp-for="FridgeCount" class="form-control" />
                <span asp-validation-for="FridgeCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dispensed" class="control-label"></label>
                <input asp-for="Dispensed" class="form-control" />
                <span asp-validation-for="Dispensed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="WeeklyCounts">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
