@model VacTrac.Models.Vaccines

@{
    ViewData["Title"] = "CreateVaccine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>CreateVaccine</h1>

    <h4>Vaccines</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateVaccine">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="VaccineName" class="control-label"></label>
                    <input asp-for="VaccineName" class="form-control" />
                    <span asp-validation-for="VaccineName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MonthlyPAR" class="control-label"></label>
                    <input asp-for="MonthlyPAR" class="form-control" />
                    <span asp-validation-for="MonthlyPAR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WeeklyPAR" class="control-label"></label>
                    <input asp-for="WeeklyPAR" class="form-control" />
                    <span asp-validation-for="WeeklyPAR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @{
                        List<SelectListItem> listItems = new List<SelectListItem>();
                        listItems.Add(new SelectListItem
                        {
                            Text = "VFC",
                            Value = "VFC"
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Private Insurance",
                            Value = "Private",
                            Selected = true
                        });
                    }
                    <label>Insurance Status</label>
                    <br />
                    <div>
                        @Html.DropDownListFor(model => model.Private, listItems, new { htmlAttributes = new { @class = "form-control", } })
                    </div>
                    @*<input asp-for="Private" class="form-control" />*@
                    <span asp-validation-for="Private" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InventoryTotal" class="control-label"></label>
                    <input asp-for="InventoryTotal" class="form-control" />
                    <span asp-validation-for="InventoryTotal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InventoryMax" class="control-label"></label>
                    <input asp-for="InventoryMax" class="form-control" />
                    <span asp-validation-for="InventoryMax" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-secondary" asp-action="Vaccines">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>