@model VacTrac.Models.WeeklyCounts

@{
    ViewData["Title"] = "Edit Weekly Count";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<int, string> Vaccines = (Dictionary<int, string>)ViewData["Vaccines"];
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditWeeklyCount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <h4>@Vaccines[Model.VaccinesID]</h4>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccuVaxCount" class="control-label"></label>
                <input asp-for="AccuVaxCount" class="form-control" />
                <span asp-validation-for="AccuVaxCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FridgeCount" class="control-label"></label>
                <input asp-for="FridgeCount" class="form-control" />
                <span asp-validation-for="FridgeCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dispensed" class="control-label"></label>
                <input asp-for="Dispensed" class="form-control" />
                <span asp-validation-for="Dispensed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="WeeklyCounts">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
